.barraHeader{
	background-color: #000;
}

tituloHeader{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

.partido{
	background-color: #424832;
	padding: 10px;
}

.partidoAdentro{
	background-color: #fff;
}

.bandera{
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.jugador{

}

.puntos{
	position: relative;
	float: right;
	padding-top: 10px;
	height: 40px;
	vertical-align: middle;
	margin-right: 10px;
}


